@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color:#000000;
	background-color:#271222;
	margin:0;
}

#titlebar {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}


.cardList{
	position: relative;
	margin-left: 10vw;
	width: 80vw;
	height: 100vh;
	margin-top: 3vh;
	
	
}

.card {
	aspect-ratio: 5 / 7;
	background-color: #16836b;
	width: 15vw;
	min-width: 100px;
	border-radius: 1vw;

	position: relative;
	float: left;
	margin-left: 4vw;
	margin-bottom: 3vh;
	transition: transform 400ms cubic-bezier(.05,.43,.25,.95);
	align-content: center;
}

.mobileCard {
	aspect-ratio: 5 / 7;
	background-color: #16836b;
	width: 30vw;
	min-width: 100px;
	border-radius: 1vw;

	position: relative;
	float: left;
	margin-left: 4vw;
	margin-bottom: 3vh;
	transition: transform 400ms cubic-bezier(.05,.43,.25,.95);
	align-content: center;
}


.cardImg{
	align-self: auto;
	margin-top: 10%;
	margin-left: 10%;
	width:80%;
	height:50%;
	border-radius: 1vw;
}

#preSelectedCard{
	position: absolute;
	transform: translateX(0)  translateY(-50vw) rotate(0deg);	
	transition: none;
	
}

#selectedCard {
	position: absolute;
	background-color: #16836b;
	margin-left: 25vw;
	align-self: center;
	width: 30vw;
	z-index: 10;
	transform: translateX(0%) translateY(0%) rotate(0deg);
}

#selectedCardMobile{
	position: absolute;
	background-color: #16836b;
	margin-left: 10vw;
	margin-top: 0vh;
	align-self: center;
	width: 60vw;
	z-index: 10;
	transform: translateX(0%) translateY(0%) rotate(0deg);
}


.card:hover{
	outline-style: solid;
	outline-color: #f8f8f8;
	outline-width: 1vw;
	
	transform: translateX(0%) translateY(0%) rotate(0deg);
}

.titles{
	font-family: consolas;
	color: white;
}


.buttonContainer{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}



.hiddenButton{
	display: none;
	position: absolute;
	transform: translateX(0%)  translateY(0%) rotate(0deg);	
}

.gettingVisibleButton{
	border: none;
	z-index: 10;
	display: block;
	position: absolute;
	background: rgb(35,85,74);
	background: linear-gradient(90deg, rgba(35,85,74,1) 0%, rgba(39,18,34,1) 80%); 
	font-family: consolas;
	font-size: 5.5vMin;;
	height: 8vh;
	width: 12vw;
	padding-left: 1vw;
	padding-right: 1vw;
	color:white;
	border-radius: 1vw;
	transform: translateX(44vw)  translateY(-50%) rotate(0deg);	
	transition: transform 400ms cubic-bezier(.05,.43,.25,.95);
}

.wasVisibleButton{
	border: none;
	z-index: 10;
	display: block;
	position: absolute;
	background: rgb(35,85,74);
	background: linear-gradient(90deg, rgba(35,85,74,1) 0%, rgba(39,18,34,1) 80%); 
	font-family: consolas;
	font-size: 5.5vMin;;
	height: 8vh;
	width: 12vw;
	padding-left: 1vw;
	padding-right: 1vw;
	color:white;
	border-radius: 1vw;	
	transition: transform 400ms cubic-bezier(.05,.43,.25,.95);
}
.wasVisibleButton:nth-child(1){
	transform: translateX(44vw)  translateY(-45vh) rotate(10deg);	
}

 
.wasVisibleButton:nth-child(2){
	transform: translateX(44vw)  translateY(-35vh) rotate(10deg);	
}

.wasVisibleButton:nth-child(3){
	transform: translateX(44vw)  translateY(-25vh) rotate(10deg);	
}


.wasVisibleButton:nth-child(4){
	transform: translateX(44vw) translateY(-15vh) rotate(10deg);
}

.visibleButton{
	border: none;
	z-index: 10;
	display: block;
	position: absolute;
	background: rgb(35,85,74);
	background: linear-gradient(90deg, rgba(35,85,74,1) 0%, rgba(39,18,34,1) 80%); 
	font-family: consolas;
	font-size: 5.5vMin;
	height: 8vh;
	width: 12vw;
	padding-left: 1vw;
	padding-right: 1vw;
	color:white;
	transition: transform 400ms cubic-bezier(.05,.43,.25,.95);
	border-radius: 1vw;
}



.visibleButton:nth-child(1){
	transform: translateX(44vw)  translateY(15vh) rotate(10deg);	
}

 
.visibleButton:nth-child(2){
	transform: translateX(44vw)  translateY(25vh) rotate(10deg);	
}

.visibleButton:nth-child(3){
	transform: translateX(44vw)  translateY(35vh) rotate(10deg);	
}


.visibleButton:nth-child(4){
	transform: translateX(44vw) translateY(45vh) rotate(10deg);
}

.revealButtonNoContent{
	position: relative;
	height: 60vh;
	width: 90vw;
}

.revealButtonBig{
	
	transition: transform 400ms cubic-bezier(.05,.43,.25,.95);
	transform: translateX(44vw) translateY(0.5vw) rotate(0);
}

.revealButtonSmall{
	border-radius: 1vw;
	border: none;
	position: absolute;
	height: 8vh;
	width: 12vw;
	z-index: 10;

	background-color: #23554a;
	font-family: consolas;
	font-size: 5.5vMin;;
	color:white;
	padding-left: 1vw;
	padding-right: 1vw;
	transform: translateX(44vw) translateY(46vh) rotate(10deg);
	transition: transform 400ms cubic-bezier(.05,.43,.25,.95);
}

.fidgetBox{
	background-color: rgb(30, 177, 121);
	width: 100%;
	height: 15%;
	position: relative;
	display: block;

	transform: translateX(0) translateY(0) rotate(15deg);

	border-radius: 200px;
    z-index: 3;
}

.fidgetBoxInverse{
	background-color: rgb(30, 177, 121);
	width: 100%;
	height: 15%;
	position: relative;
	display: block;
	transform: translateX(0) translateY(0) rotate(-15deg);
	border-radius: 200px;

}

.slantedboxHolder{
	width: 100%;
	height: 25%;
	
	position: relative;
}

.fidgetWrapper{
	margin-top: 7vh;
	width :100vw;
	height: 100vw;
	position:absolute;
	display: flexbox;
}

#hidden{
	display: none;
}